<div class="row">
            <div class="title-cat" style="margin-left: 15px">
                Donation History
            </div>
            <div>
                <table class="centered striped donation-history-table">
                    <thead>
                    <tr>
                        <th>Campaign Name</th>
                        <th>Amount</th>
                        <th>DateTime</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let donation of donations">
                        <td><a class='link' routerLink="/{{ donation?.campaign.slug }}">{{ donation?.campaign.title }}</a></td>
                        <td>{{ donation?.amount }}</td>
                        <td>{{ donation?.donate_at | date:'yyyy-MM-dd HH:mm a' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
