.same-line{
	display: inline-block!important;
}

.chip {
    background-color: white;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    display: inherit;
    border-radius: 0;
}

.chip img {
    margin: 4px 8px -8px 2px;
    border-radius: 0px;
}