{% load staticfiles %}
   <!-- Navigation -->
        <div class="sidebar">
            <div class="sidebar-inner">
               <div class="sidebar-logo">
                  <div class="peers ai-c fxw-nw">
                     <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="{% url 'dashboard' %}" class="td-n">
                           <div class="peers ai-c fxw-nw">
                              <div class="peer">
                                 <div class="logo"><img src="{% static 'theme/animator/assets/static/images/logo.png' %}" alt=""></div>
                              </div>
                              <div class="peer peer-greed">
                                 <h5 class="lh-1 mB-0 logo-text">Donation</h5>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="peer">
                        <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
                     </div>
                  </div>
               </div>

            

                <ul class="sidebar-menu scrollable pos-r">
                    <li class="nav-item mT-30 active">
                        <a class="sidebar-link" href="{% url 'dashboard' %}" default>
                            <span class="icon-holder">
                                <i class="c-blue-500 ti-home"></i> 
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    {% if request.user.is_superuser %} 

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-green-500 ti-user"></i> </span><span class="title">Admin</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="{% url 'list_user' %}">Admin user</a></li>
                            <!-- <li><a class="sidebar-link" href="{% url 'change_password' %}">Change password</a></li> -->
                            <li><a class="sidebar-link" href="{% url 'create_user' %}">New Admin</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-orange-500 ti-user"></i> </span><span class="title">Users</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="{% url 'list_site_user' %}">Users list</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-red-500 ti-view-list-alt"></i> </span><span class="title">Category</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="{% url 'list_category' %}">Category list</a></li>
                            <li><a class="sidebar-link" href="{% url 'create_category' %}">New Category</a></li>
                            
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-orange-500 ti-calendar"></i> </span><span class="title">Campaign</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="{% url 'list_campaign' %}">Campaign list</a></li>
                            <li><a class="sidebar-link" href="{% url 'highlighted_campaign_list' %}">Highlighted Campaigns</a></li>
                            
                        </ul>
                    </li>


                    {% endif %}
     
                </ul>
            </div>
        </div>
       
