<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row" style="margin-bottom: 0">
                <div class="col l5 m6 s12 donation-about-footer">
                    <a class="brand-logo" href="index.html" style="filter:grayscale(1)">
                        <img src="assets/img/bng-img/logo.png" />
                                    <span style="color:#fff">
                                        Donation
                                    </span>
                    </a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s.
                    </p>
                    <div class="social-icon">
                        <a class="social-icon-item fac" href="javascript:;">
                            <i class="fa fa-facebook">
                            </i>
                        </a>
                        <a class="social-icon-item twi" href="javascript:;">
                            <i class="fa fa-twitter">
                            </i>
                        </a>
                        <a class="social-icon-item pin" href="javascript:;">
                            <i class="fa fa-pinterest">
                            </i>
                        </a>
                        <a class="social-icon-item dri" href="javascript:;">
                            <i class="fa fa-dribbble">
                            </i>
                        </a>
                    </div>
                </div>
                <div class="col l2 m3 s6">
                    <h6>
                        USEFUL LINKS
                    </h6>
                    <!--<img src="img/logo.png"><div>Donation</div>-->
                    <ul>
                        <li>
                            <a href="javascript:;">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Campaign
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Event
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Categories
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col l2 m3 s6">
                    <h6>
                        YOUR HELP
                    </h6>
                    <!--<img src="img/logo.png"><div>Donation</div>-->
                    <ul>
                        <li>
                            <a href="javascript:;">
                                Leave a Legacy
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Monthly Giving
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                One Time Donation
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 m7 s12 instagram-feed">
                    <div class="col s12" style="padding-top: 0">
                        <h6>
                            INSTAGRAM FEED
                        </h6>
                    </div>
                    <div class="col s4">
                        <a href="javacript:;">
                            <img src="assets/img/campaign-details.png"/>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="javacript:;">
                            <img src="assets/img/charity_bg.png"/>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="javacript:;">
                            <img src="assets/img/education.jpg"/>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="javacript:;">
                            <img src="assets/img/charity_bg.png"/>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="javacript:;">
                            <img src="assets/img/education.jpg"/>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="javacript:;">
                            <img src="assets/img/campaign-details.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-footer">
        <div class="container">
            <div class="row" style="margin-bottom: 0;position: relative;">
                <div class="col s12 copyright">
                    © Copyright
                    <a href="http://techlogicians.com/" style="color: var(--theme-color)">
                        Techlogicians Solutions
                    </a> 2018
                </div>
                <div class="goToTop">
                    <a href="#top" id="scrollTop">
                        <i class="material-icons" style="display: inline-block;">
                            arrow_upward
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

