<div class="container">

                        <div >
                            <ul *ngFor="let error of errorList" >
                                <li>{{error}}</li>
                            </ul>

                        </div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
                <h2>Login please</h2>
                <div class="form-group">
           <!--          <label for="firstName" class="col-sm-3 control-label">Username</label> -->
                    <div class="col-sm-9">
                        <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Username" class="form-control" autofocus>


                    </div>
                </div>

                <div class="form-group">
                    <!-- <label for="password" class="col-sm-3 control-label">Password</label> -->
                    <div class="col-sm-9">
                        <input type="password" [(ngModel)]="password" id="password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->

        <br>

      <!--   http://thelillysblog.com/2016/10/08/registration-form-with-angular-seed/ -->
      <!-- https://seegatesite.com/login-form-angular-4-tutorial-for-beginner/ -->