<div class="center promo promo-example card cardo scrollspy">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="b-img" src="{{image}}" />
    </div>

    <div class="card-content">
        <h5 class="promo-caption">{{name}}</h5>
        <p class="light center">{{description}}</p>
        <a routerLink={{url}}  class=" details-button waves-effect waves-light hvr-bounce-to-right " style="font-size:16px;"> View Details <i style="font-size:16px" class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
</div>
