div {
    font-family: 'Montserrat', sans-serif;
}

.b-img {
    height: 128px;
    width: 128px!important;
    display: block;
    margin: 0px auto;
    padding: 20px
}

.details-button {
    background-color: #5dae1f;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.details-button:hover {
    color: #5dae1f;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
}

.card-content {
    padding: 6px!important;
}

.card-content h5 {
    font-size: 24px;
    color: #5dae1f;
}

.card-content p {
    font-size: 12px;
    font-weight: 400!important;
    margin-top: 10px !important;
}

h5 {
    margin: -1.2rem 0 .05rem 0!important;
}