<div class="carousel carousel-slider center" data-indicators="true" materialize="carousel" #carousel [materializeParams]="[{fullWidth: true}]">
    <div class="carousel-item opacity white-text" href="#one!">
        <div class="redy">
            <div class="header-info">
                <div class="money">
                    Total Donation <span> $123123</span>
                </div>
                <div class="header-title">
                    charity is the best form of prayer
                </div>
                <p class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy </p>
                <div class="buttons-header">
                    <div class="start">
                        <a class="waves-effect waves-light btn">Get Started</a>
                    </div>
                    <div class="donate">
                        <a class="waves-effect waves-light btn">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item opacity white-text">
            <div class="redy">
                <div class="header-info">
                    <div class="money">
                        Total Donation
                        <span>
                                $12,123
                            </span>
                    </div>
                    <div class="header-title">
                        second
                    </div>
                    <p class="white-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    </p>
                    <div class="buttons-header">
                        <div class="start">
                            <a class="waves-effect waves-light btn">
                                    Get Started
                                </a>
                        </div>
                        <div class="donate">
                            <a class="waves-effect waves-light btn">
                                    Donate Now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--<div class="carousel-item opacity white-text" href="#two!">-->
        <!--<div class="ambery"></div>-->
        <!--<h2>Second Panel</h2>-->
        <!--<p class="white-text">This is your second panel</p>-->

    <!--</div>-->
</div>
