.chip {
    background-color: white;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    display: inherit;
    border-radius: 0;
}

.chip img {
    margin: 2px 8px 0 0px;
    border-radius: 0px;
}