 {% extends "layout/main.html" %}

{% load table_tags %}

{% block content %}



 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{title}}
                        </h1>
<!--                         <ol class="breadcrumb">
                            <li class="active">
                                <a href="{% url 'dashboard' %}">
                                    <i class="fa fa-home" aria-hidden="true" style="font-size: 17px;color: gray;"></i>
                                </a> 
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                {{ title }}
                            </li>
                        </ol> -->
                        <ol class="breadcrum  breadcrumb-arrow">
                            <li>
                                <a href="{% url 'dashboard' %}">
                                   <strong>
                                       
                                   <i class="c-white-500 ti-home"></i>
                                   </strong> 
                                </a>
                            </li><!-- 
                            <li><a href="{% url 'list_user' %}">Admin</a></li> -->
                            <li class="active"><span>{{breadcrumb}}</span></li>
                        </ol>

                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-12">
                    {% render_table admin_table %}                   
       
                </div>
            </div>



            <!-- /.container-fluid -->

        </div>
        </div>


{% endblock content %}


