.details-button {
    background-color: #5dae1f;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.details-button:hover {
    color: #5dae1f;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
}

.tranparency {
    background: rgba(76, 76, 76, 0.09);
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 0.09) 0%, rgba(89, 89, 89, 0.25) 12%, rgba(102, 102, 102, 0.43) 25%, rgba(71, 71, 71, 0.62) 39%, rgba(59, 59, 59, 0.72) 46%, rgba(36, 36, 36, 0.72) 60%, rgba(43, 43, 43, 0.72) 72%, rgba(28, 28, 28, 0.72) 84%, rgba(44, 44, 44, 0.72) 90%, rgba(19, 19, 19, 0.72) 95%, rgba(0, 0, 0, 0.72) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 0.09)), color-stop(12%, rgba(89, 89, 89, 0.25)), color-stop(25%, rgba(102, 102, 102, 0.43)), color-stop(39%, rgba(71, 71, 71, 0.62)), color-stop(46%, rgba(59, 59, 59, 0.72)), color-stop(60%, rgba(36, 36, 36, 0.72)), color-stop(72%, rgba(43, 43, 43, 0.72)), color-stop(84%, rgba(28, 28, 28, 0.72)), color-stop(90%, rgba(44, 44, 44, 0.72)), color-stop(95%, rgba(19, 19, 19, 0.72)), color-stop(100%, rgba(0, 0, 0, 0.72)));
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0.09) 0%, rgba(89, 89, 89, 0.25) 12%, rgba(102, 102, 102, 0.43) 25%, rgba(71, 71, 71, 0.62) 39%, rgba(59, 59, 59, 0.72) 46%, rgba(36, 36, 36, 0.72) 60%, rgba(43, 43, 43, 0.72) 72%, rgba(28, 28, 28, 0.72) 84%, rgba(44, 44, 44, 0.72) 90%, rgba(19, 19, 19, 0.72) 95%, rgba(0, 0, 0, 0.72) 100%);
    background: -o-linear-gradient(top, rgba(76, 76, 76, 0.09) 0%, rgba(89, 89, 89, 0.25) 12%, rgba(102, 102, 102, 0.43) 25%, rgba(71, 71, 71, 0.62) 39%, rgba(59, 59, 59, 0.72) 46%, rgba(36, 36, 36, 0.72) 60%, rgba(43, 43, 43, 0.72) 72%, rgba(28, 28, 28, 0.72) 84%, rgba(44, 44, 44, 0.72) 90%, rgba(19, 19, 19, 0.72) 95%, rgba(0, 0, 0, 0.72) 100%);
    background: -ms-linear-gradient(top, rgba(76, 76, 76, 0.09) 0%, rgba(89, 89, 89, 0.25) 12%, rgba(102, 102, 102, 0.43) 25%, rgba(71, 71, 71, 0.62) 39%, rgba(59, 59, 59, 0.72) 46%, rgba(36, 36, 36, 0.72) 60%, rgba(43, 43, 43, 0.72) 72%, rgba(28, 28, 28, 0.72) 84%, rgba(44, 44, 44, 0.72) 90%, rgba(19, 19, 19, 0.72) 95%, rgba(0, 0, 0, 0.72) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0.09) 0%, rgba(89, 89, 89, 0.25) 12%, rgba(102, 102, 102, 0.43) 25%, rgba(71, 71, 71, 0.62) 39%, rgba(59, 59, 59, 0.72) 46%, rgba(36, 36, 36, 0.72) 60%, rgba(43, 43, 43, 0.72) 72%, rgba(28, 28, 28, 0.72) 84%, rgba(44, 44, 44, 0.72) 90%, rgba(19, 19, 19, 0.72) 95%, rgba(0, 0, 0, 0.72) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000', GradientType=0);
    display: block;
    width: 100%;
    margin: 0 auto;
}