
    <div class="card z-depth-2">

        <div class="card-image">
            <img src="../../assets/img/education.jpg">

            {{campaign_id}}

            <a routerLink={{campurl}}{{campaign_id}}  class="btn-floating halfway-fab waves-effect waves-light camp-post pulse "><i class="material-icons large">view1</i></a>
        </div>
        <div class="card-content">
            <div class="card-title c-title">{{campaign_title}}</div>
            <p>
                {{campaign_story}}
            </p>
        </div>
        <div class="card-action">
            <div class="row" style="margin-top: 10px;margin-bottom:0px;">
                <div class="col l6">
                    <div class="donation">
                        <div class="left">
                            <strong>$ {{campaign_amount}}</strong> <span>collected of </span><strong>$ {{campaign_amount}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col l6">
                    <div class="progress z-depth-1">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


