 {% extends "layout/main.html" %}
<!-- {% load static %} -->
{% load table_tags %}
{% block content %}



 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{% url url_create %}">
                            <button class="btn btn-success" style="float: right;margin-top: 10px;">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp Create
 
                            </button>
                        </a>
                        <h1 class="page-header">
                            {{title}}
                        </h1>

                        <ol class="breadcrum  breadcrumb-arrow">
                            <li>
                                <a href="{% url 'dashboard' %}">
                                   <strong>
                                       
                                   <i class="c-white-500 ti-home"></i>
                                   </strong> 
                                </a>
                            </li>
                            <li><a href="{% url 'list_category' %}">Category</a></li>
                            <li class="active"><span>{{breadcrumb}}</span></li>
                        </ol>
     
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                           {% render_table categories %}
                       </div>
                   </div>


{% endblock content %}


