<div class="row user-dash-stat">
        <div class="col s12 m4">
            <div class="card white">
                <div class="card-content">
                    <span class="text">Total Donation Count</span>
                    <div class="data">{{ userDonationStat?.total_donation_count }}</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card white">
                <div class="card-content">
                    <span class="text">Donated Amount</span>
                    <div class="data">{{ userDonationStat?.total_donation }}</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card white">
                <div class="card-content">
                    <span class="text">Attended Campaigns</span>
                    <div class="data">{{ userDonationStat?.total_campaign_counnt }}</div>
                </div>
            </div>
        </div>
</div>
