{% extends "layout/main.html" %}
{% load i18n %}

{% block style %}

<style type="text/css">
	main {
	    position: relative;
	    z-index: 100;
	}
	main > nav.fixed {
	    position: fixed;
	}
	main > nav {
	    display: block;
	}
	main section:nth-child(2n) {
	    background: #E8E9EC;
	}
	main section {
	    padding: 1.4rem 1.4rem 2.8rem 1.4rem;
	}

	main section h1, main section h2 {
    margin-top: 0;
    padding-top: 2.8rem;
}

#dropzone {
    margin-bottom: 3rem;
} 	
.dropzone.dz-clickable {
    cursor: pointer;
}
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: whitesmoke;
    /*background: #E8E9EC;*/
    padding: 60px;
}
.dropzone .dz-message {
    font-weight: bold;
    font-size: 22px;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

.feature-tag {
    position: absolute;
    bottom: 30px;
    background: #4caf50;
    color: white;
    padding: 5px;
    z-index: 1;
    bottom: 0;
}

.detail-headers {
    margin: 0 0 0 25px;
}
.mgn-l-10 {
    margin-left: 10px;
}

</style>

{% endblock style %}


{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">

   		<!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'list_campaign' %}">
                    <button class="btn btn-success" style="float: right;margin-top: 10px;margin-left: 10px">
                        Finish
                    </button>
                </a>
                <a href="{% url 'update_campaign' campaign.id %}">
                    <button class="btn btn-secondary" style="float: right;margin-top: 10px;">
                        Back
                    </button>
                </a>
                <h1 class="page-header">
                    {{ title }}
                </h1>
                <ol class="breadcrum  breadcrumb-arrow">
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <strong>

                                <i class="c-white-500 ti-home"></i>
                            </strong> 
                        </a>
                    </li>
                    <li><a href="{% url 'list_campaign' %}">Campaign</a></li>
                    <li class="active"><span>{{campaign.title}}</span></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
		    	<section>
					<!-- <h1>Campaign Files</h1> -->
				  	<div id="dropzone">
					  	<form action="{% url 'update_campaign_photos' campaign.id %}" class="dropzone needsclick dz-clickable" id="demo-upload">
						  {% csrf_token %}	
						  <div class="dz-message needsclick">
						    Drop files here or click to upload.<br>
						    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
						  </div>

						</form>
					</div>

				</section>
			</div>
		</div>
        <div class="row">
            <div class="col-lg-12">
                <label class="detail-headers" for="tags">Uploaded Images#</label>
                <div class="tz-gallery">

                    <div class="row">
                        {% for file in documents %}
                            {% if file.content_type == "image" %}   
                                <div class="col-sm-6 col-md-4">
                                    {% if file.is_featured %}
                                        <span class="feature-tag">
                                            <i class="ti-tag"></i> Featured 
                                        </span>
                                    {% endif %} 
                                    <span class="remove_doc" data-file-id="{{file.id}}"> X 
                                    </span>
                                    <a class="lightbox" href="{{ file.url }}">
                                        <img src="{{ file.url }}" alt="Park">
                                    </a>
                                </div> 
                            {% endif %}                                                
                        {% endfor %}                        
                    </div>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <label class="detail-headers mgn-l-10" for="tags">Related Docs#</label>
                    <div id="picture">
                        <div style="display:table;">

                            {% for file in documents %}
                                {% if file.content_type == "file" %}   
                                    <a href="{{file.url}}" target="_blank">                                                 
                                        <div class="one-photo">
                                        <span class="remove_doc" data-file-id="{{file.id}}"> X </span>
                                            <div class="preview"  style="margin-top: 0">
                                                <img src="https://lh4.ggpht.com/-wROmWQVYTcjs3G6H0lYkBK2nPGYsY75Ik2IXTmOO2Oo0SMgbDtnF0eqz-BRR1hRQg=w300" width="">
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}                                                
                            {% endfor %} 

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    {% csrf_token %}
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
    setInterval(function() {
        // $('.tz-gallery').load(document.URL +  ' .tz-gallery');
        // console.log('loading');
    },1000);

    $(".remove_doc").on("click",function(e){


        if ((r = confirm('sure remove?') ) == true ) {

            e.preventDefault();

            var token = $("[name='csrfmiddlewaretoken']").val()
          var response = ajax_file_delete(this,token);
          
          
        }
    });
</script>
{% endblock script %}