{% extends "layout/main.html" %}
{% load i18n %}

{% block style %}

<style type="text/css">

    .tab-step-form .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .tab-step-form .nav-stacked > li + li {
        margin-top: 10px;
    }
    .tab-step-form .nav-tabs > li > a {
       /*/ padding: 50px 0px 50px !important; /*/
       padding: 40px 40px;
       color: #AAAAAA;
       background-color: #E3F2FD;
       border: 0px;
       border-radius: 0px;
       margin: 0;
       position: relative;
       top: 40px;
   }
   .tab-step-form .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #448AFF; 
    color: #FFFFFF;
    z-index: 99;
    transition: all 0.5s ease 0s;
}
.tab-step-form .nav-tabs > li.active > a {
    color: #FFFFFF;
    background-color: #2962FF;
    box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
    z-index: 100;
}
.tab-step-form .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFFFFF;
    background-color: #2962FF;   
    box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
    transition: all 0.5s ease 0s;
}
.tab-step-form .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;

}
.tab-step-form .btn-primary {
    background-color: #2962FF;
}
.tab-step-form .btn-primary:hover, .btn-primary:focus {
    background-color: #0D47A1;
}

.cover_media .nav-tabs > li > a {
    padding: 6px; 
    color: none; 
    background-color: #E3F2FD;
    /* border: 0px; */
    border-radius: 0px;
     margin-right: 5px; 
    /* position: relative; */
    top: 0;     
}

.cover_media {
    margin: 0 0 30px 0;
}

</style>
{% endblock style %}


{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <a href="javascript:history.go(-1)">
                    <button class="btn btn-success" style="float: right;margin-top: 10px;">
                        Cancel
                    </button>
                </a>
                <h1 class="page-header">
                    {{ title }}
                </h1>
                <ol class="breadcrum  breadcrumb-arrow">
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <strong>

                                <i class="c-white-500 ti-home"></i>
                            </strong> 
                        </a>
                    </li>
                    <li><a href="{% url 'list_campaign' %}">Campaign</a></li>
                    <li class="active"><span>{{breadcrumb}}</span></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="" enctype="multipart/form-data" id="campaignForm" method="post">
                    {% csrf_token %}
                    <div class="tab-step-form" style="margin-top: 10px">
                        <div class="row">
                            <div class="col col-sm-2 vartical-tab">
                                <ul class="nav nav-tabs nav-stacked text-center" role="tablist">
                                    <li class="active" role="presentation" style="display:  block;width: 100%;height: 100px;">
                                        <a aria-controls="basic" data-toggle="tab" href="#basic" role="tab" aria-selected="true" aria-expanded="true">
                                            Step 1
                                        </a>
                                    </li>
                                    <li role="presentation" style="display:  block;width: 100%;height:  100px;">
                                        <a aria-controls="media" data-toggle="tab" href="#media" role="tab">
                                            Step 2
                                        </a>
                                    </li>
                                    <!-- <li role="presentation" style="display:  block;width: 100%;height:  100px;">
                                        <a aria-controls="docs" data-toggle="tab" href="#docs" role="tab">
                                            Step 3
                                        </a>
                                    </li> -->

                                </ul>
                            </div>
                            <div class="col col-sm-10">
                                <div class="tab-content">
                                    
                                        <div class="tab-pane fade active in show" id="basic" role="tabpanel">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <!-- <label for="title">Title</label> -->
                                                                {{ form.title.errors }}
                                                                {{ form.title.label_tag }}
                                                                {{ form.title }}
                                                                <!-- <input type="text" class="form-control" id="exampleInputName2" placeholder="Name of the Campaign to be created"> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                {{ form.story.errors }}
                                                                {{ form.story.label_tag }}
                                                                {{ form.story }}
                                                                <!-- <textarea class="form-control" rows="12" placeholder="whiteout the detailed story about the campaign"></textarea> -->
                                                            </div>   
                                                        </div>                                   
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">


                                                                {{ form.start_date.errors }}
                                                                {{ form.start_date.label_tag }}
                                                                <!-- <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe"> -->
                                                                {{ form.start_date }}

                                                            </div>
                                                        </div>                                        
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                {{ form.end_date.errors }}
                                                                {{ form.end_date.label_tag }}
                                                                <!-- <input type="text" class="form-control" id="enddate" placeholder="Jane Doe"> -->
                                                                {{ form.end_date }}
                                                            </div>                                        
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                {{ form.category.errors }}
                                                                {{ form.category.label_tag }}
                                                                {{ form.category }}                                            
                                                            </div>                                        
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                {{ form.amount.errors }}
                                                                {{ form.amount.label_tag }}
                                                                <!-- <input type="text" class="form-control" id="amount" placeholder="Amount"> -->
                                                                {{ form.amount }}   
                                                            </div>                                        
                                                        </div>
                                                        
                                                    </div>
                                                </div>                                                 
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="tags">Tags:</label>
                                                        <select class="form-control" id="tag_select" multiple="multiple" name="tags_val[]">

                                                                {% for camp_tag in camp_tags%}
                                                                    <option value="{{camp_tag.id}}" selected=""> {{ camp_tag.name|lower }}</option>
                                                                {% endfor %}
                                                        </select>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                            <label>Is Hightlighted:</label>
                                                        <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">
                                                            {{ form.is_highlighted.errors }}
                                                            {{ form.is_highlighted }}  
                                                            <label for="id_is_highlighted" class="peers peer-greed js-sb ai-c">
                                                                <span class="peer peer-greed">Highlighted Campaign</span>
                                                            </label>
                                                        </div>  
                                                    </div>                                        
                                                </div>
                                                

                                                <div class="row">
                                                    <div class="col-lg-12 ">
                                                        <ul class="list-inline pull-right" style="margin-left: 195px;">

                                                            <li>
                                                                <button class="btn btn-info next-step" type="button">
                                                                    Next
                                                                </button>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="tab-pane fade" id="media" role="tabpanel">

                                            <fieldset>

                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">       
                                                                <label for="files">
                                                                    Upload Feature Image:
                                                                </label>
                                                                <div id="picture">

                                                                    <input type="file" data-file-type="campaign_feature_image" data-file-id="{{ featured_image.id }}" name="image[]" class="dropify" data-height="300" data-default-file="{{ featured_image_path }}" />
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">

                                                            <div class="form-group">  
                                                                <label for="files">
                                                                    Important links:
                                                                </label>
                                                                <div class="containerx1">
                                                                    <button class="add_link_field btn btn-primary " type="button">
                                                                        Add New Link
                                                                        <span style="font-size:16px; font-weight:bold;">
                                                                            +
                                                                        </span>
                                                                    </button>
                                                                    {% for file in documents %}
                                                                        {% if file.content_type == "link" %} 
                                                                        <div class="form-inline" style="margin: 5px auto;">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="link[]" placeholder="Link 1" type="text" value="{{ file.content }}">
                                                                                <span class="delete" style="">
                                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        {% endif %}                                                
                                                                    {% endfor %} 

                                                                </div>
                                                            </div>
                                                            <div class="form-group">  
                                                                <label for="files">
                                                                    Important Video links:
                                                                </label>
                                                                <div class="containerx2">
                                                                    <button class="add_videolink_field btn btn-primary " type="button">
                                                                        Add New Video Link
                                                                        <span style="font-size:16px; font-weight:bold;">
                                                                            +
                                                                        </span>
                                                                    </button>
                                                                    {% for file in documents %}
                                                                        {% if file.content_type == "videolink" %} 
                                                                        <div class="form-inline" style="margin: 5px auto;">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="vidlink[]" placeholder="Link 1" type="text" value="{{ file.content }}">
                                                                                <span class="delete" style="">
                                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        {% endif %}                                                
                                                                    {% endfor %} 

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 cover_media">
                                                            <label for="files">
                                                                Cover Photo/Video:
                                                            </label>
                                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                              <li class="nav-item">
                                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cover Image</a>
                                                              </li>
                                                              <li class="nav-item">
                                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cover Video</a>
                                                              </li>
                                                            </ul>
                                                            <div class="tab-content" id="myTabContent">
                                                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                                    <input type="file" data-file-id="{{ campaign.id }}" name="cover_image" id="coverUploader" class="imgUploader" data-default-file="{{cover_image_path}}" />
                                                                </div>
                                                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                                    <div class="form-group">
                                                                        <label></label>
                                                                        <input type="text" name="cover_video" id="coverUploader" class="form-control" value="{{ cover_video_path }}" />  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col col-lg-6">
                                                            <button class="btn btn-info prev-step" type="button">
                                                                Previous
                                                            </button>
                                                        </div>
                                                        <div class="col col-lg-6">
                                                            <button class="btn btn-primary" style="float: right;" type="submit">
                                                                Next
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
</div>



{% endblock content %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {

        $('.nav-tabs li')[0].click();

        $(".next-step").click(function (e) {

            // alert('yo')
            var $active = $('.nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);

        });
        $(".prev-step").click(function (e) {

            var $active = $('.nav-tabs li.active');
            prevTab($active);

        });

        // dropify ..
        $('.dropify').dropify();
        $('.imgUploader').dropify();

         $(".dropify-clear").on("click",function(e){

            // if ((r = confirm('sure remove?') ) == true ) {

                e.preventDefault();

                var token = $("[name='csrfmiddlewaretoken']").val()
                var response = ajax_dropify_campaign_delete(this,token);
              
              
            // }
        });

        // custome file upload event handler

        $('.fileUpload').change(function (){
            // alert('yo')
            attachFileReader(this);
        });

        $("#campaignForm").validate();

        // ended datepicker

    });
    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').trigger('click');
        $("#media").addClass("show")
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').trigger('click');
        $("#basic").addClass("show")
    }


</script>
{% endblock script %}
