<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="index.html" class="brand-logo"><img src="../../assets/img/logo.png" /></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="index.html" class="category"><i class="material-icons left">view_module</i><!--<i class="fa fa-heart-o " aria-hidden="true" style="color:green"></i>--><span>Categories</span></a></li>
                    <li><a href="index.html"><i class="material-icons left">dashboard</i>Components</a></li>
                    <li><a href="registration/"><i class="material-icons left">ring_volume</i>Register</a></li>
                    <li><a href="login/">Login</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="index.html">Categories</a></li>
                    <li><a href="index.html">Components</a></li>
                    <li><a href="registration/">Register</a></li>
                    <li><a href="login/">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>