<div class="page-footer">
    <div class="footer-copyright">
        <div class="container" style="color:white">
            <div class="row" style="margin-bottom:0px;">
                <div class="col l4">
                    <h6>2017 Copyright</h6>
                </div>
                <div class="col l4" style="text-align:center">
                    <a class="waves-effect waves-light btn btn-floating share z-depth-2"><i class="fa fa-facebook" aria-hidden="true" style="line-height:none"></i></a>
                    <a class="waves-effect waves-light btn btn-floating share z-depth-2"><i class="fa fa-twitter" aria-hidden="true" style="line-height:none"></i></a>
                    <a class="waves-effect waves-light btn btn-floating share z-depth-2"><i class="fa fa-google-plus" aria-hidden="true" style="line-height:none"></i></a>

                </div>
                <div class="col l4">
                    <a class="right" style="color:white" href="#!">
                        <h6>Techlogicians Solutions</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>