<div class="skw-pages z-depth-2">
    <div class="skw-page skw-page-1 active">
        <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
            </div>
        </div>
        <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
                <div class="skw-page__content">
                    <h2 class="skw-page__heading">
                        <div class="camp-text">
                            <h2 class="header camp-bold">E<span>DUCATION</span></h2>
                        </div>
                    </h2>
                    <div class="row" style="width:110%">
                        <div class="col l4">
                            <div class="heading-info">Total Donations</div>
                            <div class="heading-stat" style="text-align:left">250000</div>
                        </div>
                        <div class="col l4">
                            <div class="heading-info">Total Campaigns</div>
                            <div class="heading-stat">45</div>

                        </div>
                        <div class="col l4">
                            <div class="heading-info">Successful Events</div>
                            <div class="heading-stat">24</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>