<div class="row details-stat">
        <div class="col m10 offset-m1 s12 ">
            <div class="col s3">
                <div class="stat-gap border">
                    <div class="amount"> ${{ homeStat?.target_fund }}</div>
                    <div class="cause"> Target Fund</div>
                </div>
            </div>
            <div class="col s3">
                <div class="stat-gap border">
                    <div class="amount">{{ homeStat?.total_donor }}</div>
                    <div class="cause"> Total Donor</div>
                </div>
            </div>
            <div class="col s3">
                <div class="stat-gap border">
                    <div class="amount"> {{ homeStat?.total_campaign }}</div>
                    <div class="cause"> Total Campaign</div>
                </div>
            </div>
            <div class="col s3">
                <div class="stat-gap">
                    <div class="amount"> ${{ homeStat?.raised_fund }}</div>
                    <div class="cause"> Raised Fund</div>
                </div>
            </div>
        </div>
</div>
