<div class="row">
    <div class="center section-heading z-depth-3" style="padding:5px;background:white;margin-top:8px;">
        <i class="fa fa-heart" aria-hidden="true"></i><span>Recent Donations</span><i class="fa fa-heart" aria-hidden="true"></i>
    </div>
    <ul class="collection top-donation z-depth-1" style="height:330px;margin-top:0px">
        <li class="collection-item avatar" *ngFor="let recent_donation of recent_donations" >
        
        <recent-donation donar_name="{{recent_donation.user.first_name}}" donate_amount="{{recent_donation.amount}}" donate_time="{{recent_donation.donate_at}}"></recent-donation>
    </li>

    </ul>
</div>